%html
  %head
    %meta{name:'viewport', content: 'width=device-width, minimum-scale=0.6, maximum-scale=0.6'}
    %meta{name:'mobile-web-app-capable', content: 'yes'}
    %meta{name:'apple-mobile-web-app-capable', content: 'yes'}
    %meta{name:'apple-mobile-web-app-status-bar-style', content: 'black'}
    %meta{name:'apple-mobile-web-app-title', content: 'Janta Fora'}
    %link{href: '/assets/images/icon.png', rel: 'apple-touch-icon-precomposed'}
    %link{href: '/assets/css/style.css', rel: 'stylesheet'}

  %body
    #{content}
