!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, minimum-scale=0.6, maximum-scale=0.6'}
    %meta{name: 'mobile-web-app-capable', content: 'yes'}
    %meta{name: 'apple-mobile-web-app-capable', content: 'yes'}
    %meta{name: 'apple-mobile-web-app-status-bar-style', content: 'black'}
    %meta{name: 'apple-mobile-web-app-title', content: 'JantaFora'}
    %title JantaFora
    %link{href: '/assets/img/favicon.ico', rel: 'shortcut icon'}
    %link{href: '/assets/img/apple-touch-icon.png', rel: 'apple-touch-icon'}
    %link{href: '/assets/css/reset.css', rel: 'stylesheet'}
    %link{href: '/assets/css/style.css', rel: 'stylesheet'}
    %link{href: 'https://fonts.googleapis.com/css?family=Lato:400,700,900,900italic,400italic,700italic', rel: 'stylesheet', type: 'text/css'}

  %body
    %header
      %a.logo{href: '/'}
      %a.menu

    %main
      #{content}

    %footer © Janta Fora

    %script{src: '/assets/js/jquery-1.8.3.min.js'}
    %script{src: '/assets/js/app.js'}
