.banner-green.share-event-banner
%h2
  ¡Excelente, ya votaste!
  %br
  Ahora compartí
%p Elegí a tus invitados y compartiles el encuentro
%button.whatsapp Whatsapp
%button.facebook Facebook
%button.email Email
