.banner.event-response-banner
%h2
  El Tano te invito a la cena
  “Salida con los pibes”
%form{action: 'post'}
  %section.date-selection
    %h3 ¿Qué día/s podés cenar?
    %ul
      %li
        %input{type: 'checkbox'}
        %span Opcion 1
      %li
        %input{type: 'checkbox'}
        %span Opcion 2
      %li
        %input{type: 'checkbox'}
        %span Opcion 3
  %section.grey-container.location-selection
    %h3 ¿A dónde te gustaría ir?
    %ul
      %li
        %input{type: 'checkbox'}
        %span Opcion 1
      %li
        %input{type: 'checkbox'}
        %span Opcion 2
      %li
        %input{type: 'checkbox'}
        %span Opcion 3
  %button{type: 'submit'} Votar
%a.more-info{href: '#'} Ver resultados parciales
%section.grey-container.time-selection
  %h3 Va ganando
  %p Opcion 1 - 10 votos
%h3 Los votos de tus invitados
.results
  %section.result
    %h3 Juan Manuel Biduei
    %p
      Opcion 1,  Opcion 2, Opcion 3
      %br
      Almuerzo
  %section.result
    %h3 Juan Manuel Biduei
    %p
      Opcion 1,  Opcion 2, Opcion 3
      %br
      Almuerzo
