.banner-green.share-event-banner
%h2
  ¡Excelente, ya votaste!
  %br
  Ahora compartí
%p Elegí a tus invitados y compartiles el encuentro
%a{href: "whatsapp://send?text=Este es el evento que creé: www.jantafora.com/poll/#{id}", 'data-action' => 'share/whatsapp/share'}
  %button.whatsapp Whatsapp
%button.facebook Facebook
%button.email Email
