.banner.event-conclusion-banner
.grey-container
  %h2 ¡Tenemos un ganador!
  %p
    Cena el Lunes 12 de Abril
    %br
    en Villa urquiza
.show-results Ver resultados
%h3 Resultados parciales
.results
  %section.result
    %h3 Juan Manuel Biduei
    %p
      Opcion 1,  Opcion 2, Opcion 3
      %br
      Almuerzo
  %section.result
    %h3 Juan Manuel Biduei
    %p
      Opcion 1,  Opcion 2, Opcion 3
      %br
      Almuerzo
%hr
%h3
  Para el 12 de Abril en Villa
  urquiza te recomendamos:
.restaurants
  .restaurant
    %img{src: 'http://placehold.it/55x55'}
    %article
      %h3 La Cabrera
      %span Parrilla - Cabrera 5127
  .restaurant
    %img{src: 'http://placehold.it/55x55'}
    %article
      %h3 La Cabrera
      %span Parrilla - Cabrera 5127
